<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 속성 값들을 아래의 경로파일에서 가져와 사용해라 -->
<properties resource = "config/db.properties"/>
<!-- 순서 중요, TypeAliase -->
<typeAliases>
	<typeAlias type = "com.ssafy.board.model.dto.Board" alias ="Board"/>
</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="ssafy"/>
        <property name="password" value="ssafy"/>
      </dataSource>
    </environment>
  </environments>
  <mappers> <!-- SQL문을 작성하는 친구가 Mapper -->
    <mapper resource="mappers/boardMapper.xml"/>
  </mappers>
</configuration>